* {
    BACKGROUND_COLOR: #383838;
    BORDER_COLOR: #2a2a2a;
    SECONDARY_GREY: #8e9194;
    LIGHTEST_BACKGROUND: #616365;
    FOCUSED_BACKGROUND: #005797;
    LIGHTER_BACKGROUND: #3e4042;
    DARK_BACKGROUND: #2f2f2f;
    DARKER_BACKGROUND: #1c1c1c;
    REQUIRED_RED: red;
    ACCENT: #04ff16;
}

#root,
.split-pane {
    -fx-background-color: BACKGROUND_COLOR;
}

.pop-up-pane {
    -fx-background-color: transparent;
    -fx-border-color: BORDER_COLOR;
    -fx-border-width: 0;
    -fx-text-fill: white;
}

.pop-up-pane .list-view {
    -fx-border-width: 0;
    -fx-background-color: LIGHTER_BACKGROUND;
}

.pop-up-pane .list-cell {
    -fx-background-color: LIGHTER_BACKGROUND;
    -fx-text-fill: white;
}

.pop-up-pane .list-cell:focused {
    -fx-background-color: FOCUSED_BACKGROUND;
}

#logLabel {
    -fx-text-fill: darkgrey;
}

.toolbar,
.combo-box,
.list-cell {
    -fx-background-color: BACKGROUND_COLOR;
}

.combo-box .text-field {
    -fx-border-width: 0;
    -fx-padding: 0 5px;
}

.combo-box .arrow-button {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

.toolbar {
    -fx-padding: 0 7pt;
    -fx-border-color: BORDER_COLOR;
}

.toolbar.top {
    -fx-border-width: 0 0 1pt 0;
    -fx-padding: 0 0 0 10pt;
}

.toolbar.right,
.toolbar.left {
    -fx-padding: 0;
}

.toolbar.top {
    -fx-padding: 2pt 10pt;
}

.toolbar.left {
    -fx-border-width: 0 1pt 0 0;
}

.toolbar.right {
    -fx-border-width: 0 0 0 1pt;
}

.toolbar.bottom {
    -fx-border-width: 1pt 0 0 0;
    -fx-padding: 0 0 0 10pt;
}

.toolbar *,
.list-cell {
    -fx-text-fill: lightgrey;
}

.button,
.toggle-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-cursor: hand;
    -fx-padding: 3pt 14pt;
    -fx-font-size: .9em;
    -fx-border-width: .5pt;
    -fx-border-color: rgba(255, 255, 255, 0.27);
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.table-view {
    -fx-background-color: transparent;
    -fx-table-cell-border-color: red;
}

.table-view .placeholder .label {
    -fx-text-fill: white;
}

.table-view .table-cell {
    -fx-text-fill: white;
}

.text-field, .combo-box{
    -fx-text-fill: white;
}

.table-view:focused {
    -fx-background-color: transparent;
}

.table-view .column-header {
    -fx-border-color: DARK_BACKGROUND;
    -fx-border-width: 0 1pt 0 0;
}

.table-view .column-header-background {
    -fx-background-color: DARKER_BACKGROUND;
}

.table-view .column-header-background .label {
    -fx-text-fill: white;
}

.table-view .column-header,
.table-view .filler,
.table-view .table-cell {
    -fx-background-color: transparent;
}

.table-row-cell {
    -fx-background-color: LIGHTER_BACKGROUND;
    -fx-padding: 0;
    -fx-table-cell-border-color: DARK_BACKGROUND;
    -fx-border-width: 0;
    -fx-text-fill: white;
}

.table-row-cell:odd {
    -fx-background-color: DARK_BACKGROUND;
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}


.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}

.toolbar .button,
.toolbar .toggle-button {
    -fx-border-width: 0;
}

.toolbar.top .button {
    -fx-background-radius: 2pt;
    -fx-padding: 1pt 10pt;
}

.toolbar.top .button:hover {
    -fx-background-color: derive(black, 50%);
}

.toolbar.right .button,
.toolbar.left .button,
.toolbar.right .toggle-button,
.toolbar.left .toggle-button {
    -fx-padding: 14pt 4pt;
}

.toolbar.left .button .label,
.toolbar.left .toggle-button .label {
    -fx-rotate: -90deg;
}

.toolbar.right .button .label,
.toolbar.right .toggle-button .label {
    -fx-rotate: 90deg;
}


.button:hover,
.toggle-button:hover {
    -fx-background-color: DARK_BACKGROUND;
}


.toolbar .button:pressed,
.toolbar .toggle-button:selected {
    -fx-background-color: DARKER_BACKGROUND;
}

.combo-box {
    -fx-border-width: .5pt;
    -fx-border-color: rgba(255, 255, 255, 0.27);
    -fx-padding: 1.5pt 0pt;
    -fx-border-radius: 2pt;
    -fx-cursor: hand;
}

.arrow {
    -fx-background-color: lightgrey;
}

.list-cell {
    -fx-padding: 0pt 4pt;
    -fx-background-color: transparent;
}

.list-view {
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-background-color: DARK_BACKGROUND;
    -fx-border-width: 0;
}

.list-view .list-cell {
    -fx-padding: 3pt 5pt;
    -fx-cursor: hand;
}

.list-cell:selected {
    -fx-background-color: DARKER_BACKGROUND;
    -fx-text-fill: white;
}

.combo-box .list-cell:selected {
    -fx-background-color: transparent;
}

.list-cell:hover,
.combo-box .list-cell:hover {
    -fx-background-color: #2946b4;
}

.list-cell:empty {
    visibility: hidden;
}

.split-pane {
    -fx-box-border: transparent;
    -fx-padding: 0;
}

.split-pane > .split-pane-divider {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-pref-width: 2pt;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
}

.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 0 10 0;

}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {

    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: derive(black, 90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}

.widget {
    -fx-padding: 5pt;
    -fx-background-color: rgba(255, 255, 255, 0.1);
}

.widget-pane * {
    -fx-text-fill: white;
}

.text-field {
    -fx-border-radius: .5pt;
    -fx-min-width: 50pt;
    -fx-max-width: 200pt;
    -fx-border-color: BORDER_COLOR;
    -fx-background-color: BACKGROUND_COLOR;
    -fx-background-radius: 0;
}

.text-input {
    -fx-text-fill: white;
    -fx-fill: white;
}

.widget-pane {
    -fx-background-color: LIGHTER_BACKGROUND;
    -fx-border-color: transparent;
}

.progress-indicator .percentage {
    -fx-fill: ACCENT;
}

.progress-indicator {
    -fx-progress-color: ACCENT;
}

.inner_popup {
    -fx-background-color: BACKGROUND_COLOR;
}

.error_label {
    -fx-background-color: REQUIRED_RED;
}

.tree-view {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.tree-view * {
    -fx-background-color: BACKGROUND_COLOR;
    -fx-fill: lightgrey;
}

.titled-pane .arrow-button .arrow,
.tree-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: lightgrey;
}

.tree-cell > .tree-disclosure-node > .arrow {
    -fx-cursor: hand;
}

.tree-cell > .tree-disclosure-node > .arrow,
.tree-table-row-cell > .tree-disclosure-node > .arrow {
    -fx-rotate: 0;
}

.tree-cell:expanded > .tree-disclosure-node > .arrow,
.tree-table-row-cell:expanded > .tree-disclosure-node > .arrow {
    -fx-rotate: 90;
}

.widget-bar .split-pane-divider {
    -fx-background-color: BACKGROUND_COLOR;
}

.settings > .viewport, .settings {
    -fx-background-color: BACKGROUND_COLOR;
}

.settings * {
    -fx-text-fill: white;
}

.settings .description {
    -fx-padding: 5pt 0 0 0;
    -fx-text-fill: SECONDARY_GREY;
}

.settings-list > * {
    -fx-padding: 10pt;
}

.settings .setting-section {
    -fx-border-width: 1pt 0 0 0;
    -fx-border-color: LIGHTER_BACKGROUND;
    -fx-padding: 10pt;
}

.dark-bg {
    -fx-background-color: BACKGROUND_COLOR;
    -fx-text-fill: white;
}

.dark-bg * {
    -fx-text-fill: inherit;
}

.text-red {
    -fx-text-fill: red;
}